.bgimg {
    background-image: url(banner-bg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
}

.hostsize {
    font-size: 30px;
}

.collapse-navbar {
    margin-left: 13em;
}

.bannerAll {
    padding-top: 250px;
    box-sizing: border-box;
}

.navbutton {
    margin-left: 10px;
}

.navline {
    border-bottom: .5px white;
}

.functional-buttons {}

.main-buttonx {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 38px;
    line-height: 50px;
    padding: 0px 20px;
    border: none;
    margin-left: 10px;
    background-color: #00bcd4;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    margin-bottom: 30px;
}

.customasd {
    margin-top: 5rem;
}

.functional-buttons ul {
    margin: 0;
    padding: 0;
}

.functional-buttons ul li {
    display: inline-block;
    margin-left: 10px;
}

.functional-buttons .login-btn:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
}

.functional-buttons .login-btn.scr {
    background-color: white;
    color: #00a4b9;
    border: 2px solid #00a4b9;
}

.functional-buttons .login-btn.scr:hover {
    background-color: #00a4b9;
    color: white;
}

.functional-buttons ul li:first-child a {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}

.functional-buttonss ul li:first-child a {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #00a4b9;
    text-transform: uppercase;
    font-size: 13px;
    color: #00a4b9;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}

.functional-buttons ul li:last-child a {
    display: inline-block;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}

.grad2 {
    background-color: white;
    border: #00bcd4;
    color: #5924e9;
}

#search-section input.main-button {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

.btntrans {
    transition: 0.6s;
    width: 40px!important;
}

::placeholder {
    color: white!important;
}

#abc {
    background: none;
}

.hostingservicesmargin {
    margin-top: 1rem;
}

.custom-control-inline {
    margin-top: 3rem!important;
}

.imgsetting {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: white;
    background-color: #00bcd4;
    padding-top: 1rem;
    font-size: 40px;
}

.databasecard {
    background-color: rgb(219, 217, 214);
}

.hostingplans {
    margin-top: 13rem;
    background-image: url('pricing-bg.jpg');
    height: 500px;
}

.textColourWhite {
    color: white;
}

ul.ba {
    list-style-type: none;
}

.image {
    float: left;
    width: auto;
}

.code {
    float: right;
    width: 50%;
}

.card-img {
    width: 108px;
    height: 115px;
    margin-top: 17px;
    margin-left: -5px;
}

.line {
    width: auto;
    height: .25px;
    background-color: white;
    margin-top: 3rem;
    text-align: center;
}

.testimonial {
    background: #f1f1f1f1;
    padding-top: 4rem;
}

.author {
    color: cornflowerblue;
}

.bottomsliderfafa {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
    background-color: #080591;
    padding-top: 1rem;
    text-align: center;
}

a.main-button {
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 25px;
    border: none;
    margin-left: 10px;
    background-color: #00bcd4;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    bottom: -16px;
    left: 163px;
}

a.main-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

.pricing-item {
    background-color: #fff;
    text-align: center;
    padding: 50px 50px 30px 50px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

q {
    font-style: italic;
}

.foot {
    background-image: url(footer-bg.jpg);
}

.footerStyle {
    margin-top: 5rem;
}

.bg-light.scrolled {
    background: white !important;
}

.navbutton.scrolled {
    background: white;
}

.navbar-light .navbar-nav {
    color: white;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand {
    color: white;
}

.navlinktext {
    color: white!important;
}

.navbar-light .navbar-nav .nav-link.scroll {
    color: black !important;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand.sc {
    color: black !important;
}

.bg-light {
    background-color: rgba(255, 0, 0, 0)!important;
    padding-top: 20px;
    transition: 500ms;
}

.hostingservicecolor {
    background-color: white;
}

.aboutHeader {
    background-image: url(heading-bg.jpg);
    height: 500px;
}


/* about page css start from here  */

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs {
    color: rgb(0, 0, 0);
}

#tabs h6.section-title {
    color: rgb(0, 0, 0);
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #00bcd4!important;
    background-color: transparent;
    border-bottom: 2px solid !important;
    font-size: 20px;
    font-weight: bold;
    background-color: #f7f7f7a6!important;
}

.aboutimage {
    height: auto;
    width: 100%;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
}

.about {
    background-color: #f7f7f7a8;
    margin-top: 5rem;
}

.about .row {
    margin-top: 15rem;
}

.about-item span {
    color: #00bcd4;
    font-weight: 600;
    font-size: 15px;
}

.about-item h2 {
    color: black;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 15px;
}


/*card ki css*/

.card img:hover {
    opacity: 0.7;
    transition: 0.9s;
}

.card {
    margin: 20px;
}

.card img {
    height: 280px;
}

.team {
    margin-top: 80px;
}

.textimonial {
    background: #f1f1f1f1;
    padding-top: 4rem;
    height: 32rem;
    margin-top: 7rem;
}


/* services ki css */

.services-section {
    margin-top: 17rem;
    margin-bottom: 10rem;
}

.serv {
    background-color: rgba(236, 242, 243, 0.568);
    border: 10px solid white;
    padding: 50px 0px 50px 0px;
    border-radius: 15px;
}

.imgsetting {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #00bcda;
    margin: auto;
}

.service-item h4 {
    padding: 50px;
    font-weight: 600;
    font-size: 20px;
}

.section-heading span {
    color: #00bcda;
    font-weight: 700;
}

.formplaceholder::placeholder {
    color: #6a6a6a!important;
}

.form-main-button {
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    border: none;
    background-color: #00bcd4;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}

.contactfafa {
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: #00bcd4;
    border-radius: 50%;
    color: #fff;
    margin-right: 15px;
    font-size: 24px;
}

.contactmap {
    height: 500px
}

.contactformright {
    margin-bottom: 40px;
}

.contactheading {
    letter-spacing: 0.5px;
    font: size 32px;
}

.contactpara {
    font-size: 15px;
    color: #6a6a6a
}

.imgsetting {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    color: white;
    background-color: #00bcd4;
    padding-top: 1rem;
    font-size: 30px;
}


/* contact us css starts from here */

.contactform {
    margin-top: 17rem;
}

.formplaceholder {
    background-color: #eee;
    color: black;
}

.form-control {
    display: block;
    width: 80%;
    margin-left: 40px;
    margin-top: 0em;
    background-color: transparent;
}

.division {
    width: 100%;
    height: 2px;
    background-color: #eee;
    margin: 35px 0px 30px 0px;
}

.form input,
.form textarea {
    letter-spacing: 0.5px;
    font-weight: 300;
    color: #6a6a6a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 60%;
    height: 30px;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.form textarea {
    height: auto;
    resize: none;
    padding: 10px;
}

#map {
    margin-top: 50px;
    margin-bottom: -147px;
}


/* preloading csss */

#loading {
    width: 100%;
    height: 100vh;
    background: #fff url(preloader1.gif) no-repeat center;
    position: fixed;
    z-index: 999999;
}

.blockbackground {
    background-color: rgb(235, 228, 228);
    padding-left: 0!important;
}

.blogpara a {
    text-decoration: none;
}